
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>
    <a href="https://data.detroitmi.gov/maps/edit?content=detroitmi%3A%3Amedically-underserved-areas-population">
        Detroit's Medically Underserved Areas/Populations</a> are areas or populations designated by HRSA as having too few primary care providers, high infant mortality, high poverty or a high elderly population.</p>
<p>
    In regard to health services, refers to populations which are disadvantaged because of ability to pay, ability to access care, ability to access comprehensive healthcare, or other disparities for reasons of race, religion, language group or social status.</p>
<p>
    "If you look at a map of Detroit, virtually the entire city is medically underserved in terms of primary care resources," Thomas said.
</p>
    In caring for the underserved, nurses work in communities where many residents are below the poverty level, have a significant amount of chronic health problems and medical disabilities, reside in geographic isolated areas, and don't have a sufficient number of health care providers to meet the demands for service.</p>
<iframe src="https://data.detroitmi.gov/maps/edit?content=detroitmi%3A%3Amedically-underserved-areas-population" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="0" height="600" width="1100" allowfullscreen></iframe>
