
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About the PostHelpGet.com Concept</h1>

<h2>Serving the Underserved</h2>
<p>
    The <b>Medically Underserved Areas/Populations (MUA/P)</b> show designated MUA/Ps as well as MUA/Ps as they relate to federal <a href="https://data.hrsa.gov/">Health Resources & Services Administration (HRSA)</a> Office of Rural Health Policy (ORHP) designated rural health areas.
    MUA/P designations are based on the <b>Index of Medical Underservice (IMU)</b>.
</p>
<p>
    IMU is <b>calculated based on four criteria</b>: (1) population to provider ratio; (2) percent of the population below the federal poverty level; (3) percent of the population over age 65; and (4) infant mortality rate.
</p>

<h3>How the Index of Medical Underservice (IMU) works</h3>
<p>
    The IMU scale is from zero to 100. <b>Zero represents completely underserved</b>.
    One hundred (100) represents <i>least underserved</i>.
</p>
<p>
    HRSA calculates the IMU by assigning a weighted value to an area or population’s performance on four demographic and health indicators.
    The weighted values are then added together.
</p>
<h3>Why Detroit?</h3>
<p>
    <a href="https://data.detroitmi.gov/maps/edit?content=detroitmi%3A%3Amedically-underserved-areas-population">
        Detroit's Medically Underserved Areas/Populations
    </a> are areas or populations designated by HRSA as <b>having too few</b> primary care providers, high infant mortality, high poverty or a high elderly population.
    In regard to health services, Detroit's population are disadvantaged because of ability to pay, ability to access care, ability to access comprehensive healthcare, or other disparities for reasons of race, religion, language group or social status.
</p>
<p>
    In caring for the underserved, nurses work in communities where many residents are below the poverty level, have a significant amount of chronic health problems and medical disabilities, reside in geographic isolated areas, and don't have a sufficient number of health care providers to meet the demands for service.

    <h3>Where PostHelpGet.com Comes In</h3>
    <p>
        This web site is designed to help bridge a gap, in the most <b>micro-action ways</b>, to be able to help the community in areas of the greatest need. 
        We make the tools available for communities to be able to connect with one another on a very local level.
        <b>People who are able to give, give.</b> People who need help, post their needs of the site for others to be able to fulfill. It's a site filled with wishes, and people who can be angels, even if for just one day.
</p>
<p>On our home page you'll see sticky notes of needs people have posted. 
    Each one is color-coded to indicate is that person lives in a neighborhood where need is the greatest.
    </p>
<iframe src="https://data.detroitmi.gov/maps/edit?content=detroitmi%3A%3Amedically-underserved-areas-population" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="0" height="600" width="1100" allowfullscreen></iframe>
