@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a student project produced as a Final Project for the Grand Circus Boot Camp After Hours program for C#.
    Our goal is to showcase our talents and provide a concept for a cool project.</p>
<p>This site name, URL, images, and all content is owned wholly by the project group known as the Bandits. 
    The Bandits consist of Sandy Jurek, Taylore James, and Ryan McEvoy.</p>
